.navbar-name {
  margin-top: 3em;
  margin-left: 3em;
}

.navbar-name > button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #f0af00;
  cursor: pointer;
}

.navbar-name button:hover {
  color: white;
  transition: 0.5s ease;
}
.navbar-name:hover {
  transition: 0.5s ease;
}

.dropdown-list {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 12rem;
  width: 10rem;
  background-color: #21211f9b;
  border: 1px solid #f0af00;
  border-radius: 5px;
}

.dropdown-links {
  background: transparent;
  border: 2px solid #f0af00;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: #f0af00;
  cursor: pointer;
  border-radius: 10px;
}

button {
  background-color: white;
}

.dropdown-links:hover {
  color: white;
  transition: 0.5s ease;
  background-color: #f0af00;
}

@media screen and (max-width: 600px) {
  .navbar-name {
    margin-top: 1em;
    margin-left: 3em;
  }

  .dropdown-list {
    margin-top: 0rem;
    height: 15rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #21211f;
    border: none;
    z-index: 1;
  }
  .dropdown-links {
    font-size: 20px;
    position: relative;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
}
