.autocomplete-wrapper {
	width: 100%;
	margin: 5px 0;
}

.autocomplete-input {
	width: 29vw;
}

.hide {
	display: none;
}

.show {
	display: inline;
}

#ingredients {
	max-height: 300px;
	overflow: auto;
}

.search-results {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.search-result-button {
	width: 95%;
	height: 25px;
	text-align: left;
	background-color: white;
	border: none;
	border-radius: 5px;
	margin-top: 3px;
}

.search-result-button:hover {
	background-color: #e9ecef;
}
