.main {
	/* width: 80%; */
	margin: 10% auto;
	/*margin-top: 5%;*/
}
.pollButton-container {
	width: 100%;
	max-width: 1170px;
	margin: auto;
	padding: 10px;
}

.pollButton {
	display: inline-block;
	width: 20%;
	text-decoration: none;
	margin: 2%;
	padding: 1%;
	color: black;
	font-size: 23px;
	font-weight: bolder;
	background-color: #f0af00;
	border-radius: 10px;
	border: 3px solid #f0af00;
	outline: none;
}

.pollButton:hover {
	background-color: transparent;
	color: #f0af00;
	transition: 0.5s;
	width: 19.5%;
}
@media screen and (max-width: 600px) {
	.main {
		width: 100%;
		margin: auto;
		/*margin-top: 5%;*/
	}

	.pollButton {
		width: 80%;
		text-decoration: none;
		margin: 2%;
		padding: 1%;
		color: black;
		font-size: 20px;
		font-weight: bolder;
		background-color: #f0af00;
		border-radius: 10px;
		border: 3px solid #f0af00;
		outline: none;
	}
	.pollButton:hover {
		width: 80%;
		text-decoration: none;
		margin: 2%;
		padding: 1%;
		color: black;
		font-size: 20px;
		font-weight: bolder;
		background-color: #f0af00;
		border-radius: 10px;
		border: 3px solid #f0af00;
		outline: none;
	}
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
	.main {
		/* margin-top: 10%; */
		/*margin-top: 5%;*/
	}

	.pollButton {
		/* width: 40%; */
	}
}
