body {
  background-image: url("../WelcomePage/food-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Arial Black";
}

.welcome-wrapper {
  text-shadow: -3px -3px 3px rgba(240, 176, 0, 1);
  color: white;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 100px;
  margin-top: 0;
  margin-left: 0.4em;
  text-align: left;
}

h3 {
  margin-top: 0;
  width: 41%;
  font-size: 50px;
  text-align: left;
  margin-left: 1em;
}
