.polls {
  height: 500px;
  color: white;
  width: 40%;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid white;
  background: rgba(128, 128, 128, 0.288);
}
.poll-label {
  font-size: 30px;
  margin-right: 20px;
}
.poll-input {
  width: 29vw;
  text-align: center;
}
