.polls {
  color: white;
  padding: 3em;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  border-radius: 20px;
  border: 2px solid white;
  background: rgba(128, 128, 128, 0.288);
}
.poll-label {
  font-size: 30px;
}
.poll-input {
  width: 100%;
  text-align: center;
}
